<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon link -->
    <link rel="shortcut icon" type="x-icon" href="/static/img/pokeball.png">
    <!-- CSS link -->
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- Bootstrap link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font links -->
    <!-- Pixel font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Dancing+Script&family=Gochi+Hand&family=Pixelify+Sans&family=Roboto+Condensed:wght@300&family=Roboto:ital,wght@0,100;1,400&family=Tektur&display=swap" rel="stylesheet">
    <title>Pokemon App</title>
</head>
<body class="page-color">
    <!-- Container -->
    <div class="d-flex justify-content-center mt-4">
        <!-- Pokedex -->
        <div class="pokedex-background col-md-4 d-flex justify-content-center px-2 pixel">
            <div class="pokedex-background2 p-3 my-auto">
                <!-- Pokedex camera bar -->
                <div class="pokedex-top d-flex align-items-center justify-content-between p-3">
                    <div class="pokedex-top-left">
                        <img class="lens" src="/static/img/lens.png" alt="Camera lens">
                    </div>
                    <div>
                        <img class="lights" src="/static/img/ryg.png" alt="Red, yellow, green lights">
                    </div>
                </div>
                <!-- End of pokedex camera bar -->
                <!-- Pokedex screen -->
                <div class="pokedex-screen mt-3 p-1">
                    <div class="pokedex-screen2 mt-1 p-1">
                        <div class="pokedex-screen3 d-flex justify-content-center">
                            <form class="mt-5" action="/search/pokemon" method="POST">
                                <input class="input-box" type="text" name="name" placeholder=" Name...">
                                <button class="search-button" type="submit">Search Pokemon</button>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- End of pokedex screen -->
                <!-- Buttons, green screen, and d-pad -->
                <div class="d-flex justify-content-around mt-2">
                    <div class="flex-column col-md-5">
                        <!-- Buttons -->
                        <div class="d-flex align-items-center justify-content-around mb-3">
                            <div style="margin-right: 10px;" class="gray-button"></div>
                            <div class="d-flex">
                                <div style="margin-right: 5px;" class="red-button"></div>
                                <div style="margin-left: 5px;" class="green-button"></div>
                            </div>
                        </div>
                        <!-- Green screen -->
                        <div>
                            <div class="green-screen text-center"><h5 class="mt-4">Gathering data<span class="auto-type"></span></h5></div>
                        </div>
                    </div>
                    <!-- D-pad -->
                    <div>
                        <img class="d-pad" src="/static/img/d-pad.png" alt="Controller directional pad">
                    </div>
                </div>
                <!-- End of buttons,  green screen, and d-pad -->
            </div>
        </div>
        <!-- End of Pokedex -->
    </div>
    <!-- End of container -->
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script src="/static/js/script.js"></script>
</body>
</html>