/* CSS Reset */
* {
    margin: 0px;
    padding: 0px;
}

/* Page background */
.page-color {
    /* The background image */
    background-image: url("/static/img/background.png");

    /* Set a specified height, or the minimum height for the background image */
    min-height: 400px;

    /* Set background image to fixed (don't scroll along with the page) */
    background-attachment: fixed;

    /* Center the background image */
    background-position: center;

    /* Set the background image to no repeat */
    background-repeat: no-repeat;

    /* Scale the background image to be as large as possible */
    background-size: cover;
}

/* Pokedex background */
.pokedex-background {
    height: 680px;
    width: 100%;
    background-image: linear-gradient(to bottom right, darkred, darkred);
    border: 4px solid black;
    border-radius: 20px;
    box-shadow: 5px 5px black;
}

/* Pokedex background 2 */
.pokedex-background2 {
    height: 630px;
    width: 100%;
    background-image: linear-gradient(to bottom right, red, darkred);
    border: 4px solid black;
    border-radius: 20px;
}

/* Pokedex top bar */
.pokedex-top {
    background-image: linear-gradient(to bottom right, red, darkred);
    border: 4px solid black;
    border-radius: 20px;
    height: 100px;
    box-shadow: 5px 5px black;
}

/* Pokedex lens */
.lens {
    height: 80px;
    width: 100%;
}

/* Red, yellow and green lights */
.lights {
    height: 40px;
    width: 100%;
}

/* Pokedex screen */
.pokedex-screen {
    height: 317px;
    width: 100%;
    background-color: lightgoldenrodyellow;
    border: 2px solid black;
    border-radius: 20px;
}

/* Pokedex screen 2 */
.pokedex-screen2 {
    height: 300px;
    width: 100%;
    background-color: lightgray;
    border: 2px solid black;
    border-radius: 20px;
}

/* Pokedex screen 3 */
.pokedex-screen3 {
    height: 288px;
    width: 100%;
    background-color: greenyellow;
    border: 2px solid black;
    border-radius: 20px;
}

/* User input box */
.input-box {
    padding: 3px;
    background-color: lightgoldenrodyellow;
    color: black;
    border: 2px solid black;
    border-radius: 20px;
}

/* Placeholder text */
::placeholder {
    color: black;
    opacity: 1;
}

/* Search button */
.search-button {
    padding: 3px;
    background-color: lightgoldenrodyellow;
    color: black;
    border: 2px solid black;
    border-radius: 15px;
}

/* Button hover event */
button:hover {
    color: white;
    background-color: black;
}

/* Gray button */
.gray-button {
    height: 35px;
    width: 35px;
    background-color: gray;
    border: 2px solid black;
    border-radius: 50%;
    box-shadow: 3px 3px black;
}

/* Red button */
.red-button {
    height: 17px;
    width: 40px;
    background-color: red;
    border: 2px solid black;
    border-radius: 25px;
}

/* Green button */
.green-button {
    height: 17px;
    width: 40px;
    background-color: green;
    border: 2px solid black;
    border-radius: 25px;
}

/* Green screen */
.green-screen {
    height: 100px;
    width: 100%;
    background-color: greenyellow;
    border: 2px solid black;
    border-radius: 20px;
}

/* D-pad */
.d-pad {
    height: 150px;
    width: 100%;
}
/* End of pokedex */

/* Dipslay Pokemon HTML */
/* Pokemon image */
.image {
    height: 450px;
    width: 100%;
    animation: rotation 12s infinite linear;
}

/* Image rotation */
@keyframes rotation {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(359deg);
    }
}

/* Pixel font */
.pixel {
    font-family: 'Pixelify Sans';
}